body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 15px;
}

/* ТАБЫ */
.tabs {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.tabs span {
    padding: 6px 12px;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    cursor: pointer;
}

.tabs .active {
    background: white;
    color: black;
}

/* КАТЕГОРИИ */
.categories {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    margin-bottom: 15px;
}

.categories span {
    padding: 5px 10px;
    background: rgba(255,255,255,0.2);
    border-radius: 15px;
}

.categories .active {
    background: white;
    color: black;
}

/* КАРТОЧКИ */
.app-card {
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    backdrop-filter: blur(10px);
    animation: fadeUp 0.5s ease;
}

.cat {
    font-size: 12px;
    opacity: 0.8;
}

.app-card button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: white;
    color: #0072ff;
    cursor: pointer;
    transition: 0.3s;
}

.app-card button:hover {
    transform: scale(1.05);
}

/* АНИМАЦИЯ */
@keyframes fadeUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}